
#resetButton {
    width: auto;
    height: auto;
}

.c4Square {
    height: 75px;
    width: 75px;
    margin:0px;
    background-color: yellow;
    border:none;
}

.circle {
    height: 90%;
    width: 100%;
    border-radius: 50%;
}