/*.tictactoe {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/


#resetButton {
    width: auto;
    height: auto;
}

button {
    width: 100px;
    height: 100px;
}

#square0 {
    border-top: none;
    border-left: none;
}

#square1 {
    border-top: none;
}

#square2 {
    border-top: none;
    border-right: none;
}

#square3 {
    border-left: none;
}


#square5 {
    border-right: none;
}

#square6 {
    border-bottom: none;
    border-left: none;
}

#square7 {
    border-bottom: none;
}

#square8 {
    border-bottom: none;
    border-right: none;
}

.tttSquare {
    height: 125px;
    width: 125px;
    margin: 0px;
    background-color: #efefef;
    border-color: black;
}

.playerMode {
    width: 60%;
}