.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100vw;
}

.active {
  background-color:#282c34;
  padding-right: calc(10px + 2vmin);
  left: 10px;
  font-size: calc(10px + 1vmin);
  color: white;
  min-height: 5vh;
  align-items: normal;

}

.links {
  background-color:#282c34;
  padding-right: calc(10px + 2vmin);
  left: 10px;
  font-size: calc(10px + 1vmin);
  color: white;
  min-height: 5vh;
  align-items: normal;

}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
